
<footer class="footer-section">
    <div class="footer-container">
        <div class="menu">
            <h2 class="footer-text">BusInfoCentral</h2>
        </div>
        <div class="menu">
            <h2>Further Info</h2>
            <div class="menu-items">
                <a href="/about">About us</a>
                <a href="/contact">Contact us</a>
                <a href="/docs">API Documentation</a>
            </div>
        </div>
        <div class="menu">
            <h2>Busses </h2>
            <div class="menu-items">
                <a href="/products">Timetables</a>
                <a href="/products">Traffic</a>
                <a href="/">City public stops</a>
            </div>
        </div>
        <div class="menu">
            <h2>Contacts</h2>
            <div class="menu-items">
                <p>Email: nurasyl.rysaly@mail.ru</p>
                <p>Phone: +7-747-158-94-68</p>
                <p>Instagram: @nqrps</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

