<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <title>Login</title>
  </head>
  <body>

    <%- include("includes/navbar.ejs") %>

    <section class="sign-in-section" id="sign-in">
      <form method="post" action="/auth/login">
        <div class="back">
          <h2>Login</h2>
          <div class="sign-in-container">
            <div class="input-fields">
              <label for="email"><b>Email</b></label>
              <input type="email" name="email" id="email" placeholder="Enter your email address" />
              <label for="password"><b>Password</b></label>
              <input type="password" name="password" id="password" placeholder="Password" />
            </div>
          </div>
          <div class="btn-con">
<!--            <a class="btn" href="auth/register">Create Account</a>-->
            <a class="btn" href="/auth/google" role="button">
              <i class="fab fa-google"></i> Sign In with Google
            </a>
            <button type="submit" class="btn">Login</button>
          </div>
        </div>
      </form>
    </section>

    <%- include("includes/footer.ejs") %>

  </body>
</html>
