<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../css/products.css" />
    <link rel="stylesheet" type="text/css" href="../css/layout.css" />
    <title>SNEAKSHOP</title>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<section class="message-section">
<!--    <img src="http://www.regcentr.kiev.ua/wp-content/uploads/2017/03/galochka.png" style="height: 220px; width: auto" alt="/">-->
    <h2> STATUS: <%= status %></h2>
    <p> <%= message %></p>
    <a href="/"><button class="button">Redirect to Home page</button></a>
</section>
</body>
</html>
