<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/routesCharts.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/navbar.css" />

    <title>Route flow chart - BusInfoCentral</title>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<div class="container">
    <div class="routes row">
        <a href="/route/15" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">15</h2>
            <p class="route-name">Route №15</p>
        </a>
        <a href="/route/18" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">18</h2>
            <p class="route-name">Route №18</p>
        </a>
        <a href="/route/26" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">26</h2>
            <p class="route-name">Route №26</p>
        </a>
        <a href="/route/28" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">28</h2>
            <p class="route-name">Route №28</p>
        </a>
        <a href="/route/35" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">35</h2>
            <p class="route-name">Route №35</p>
        </a>
        <a href="/route/46" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">46</h2>
            <p class="route-name">Route №46</p>
        </a>
        <a href="/route/54" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">54</h2>
            <p class="route-name">Route №54</p>
        </a>
        <a href="/route/56" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">56</h2>
            <p class="route-name">Route №56</p>
        </a>
        <a href="/route/60" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">60</h2>
            <p class="route-name">Route №60</p>
        </a>
        <a href="/route/70" class="route-card col-12 col-md-6 col-lg-3">
            <h2 class="route-number">70</h2>
            <p class="route-name">Route №70</p>
        </a>
    </div>
</div>

<%- include("includes/footer.ejs") %>

</body>
</html>
