<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/routesCharts.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <title>Route flow chart - BusInfoCentral</title>
</head>
<body>

<%- include("includes/navbar.ejs") %>

<div class="container">
    <div class="routes row">
        <a href="/route15" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">15</div>
                <div class="route-name">Route №15</div>
            </div>
        </a>
        <a href="/route18" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">18</div>
                <div class="route-name">Route №18</div>
            </div>
        </a>
        <a href="/route26" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">26</div>
                <div class="route-name">Route №26</div>
            </div>
        </a>
        <a href="/route28" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">28</div>
                <div class="route-name">Route №28</div>
            </div>
        </a>
        <a href="/route35" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">35</div>
                <div class="route-name">Route №35</div>
            </div>
        </a>
        <a href="/route46" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">46</div>
                <div class="route-name">Route №46</div>
            </div>
        </a>
        <a href="/route54" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">54</div>
                <div class="route-name">Route №54</div>
            </div>
        </a>
        <a href="/route56" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">56</div>
                <div class="route-name">Route №56</div>
            </div>
        </a>
        <a href="/route60" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">60</div>
                <div class="route-name">Route №60</div>
            </div>
        </a>
        <a href="/route70" class="col-12 col-md-4">
            <div class="route-card">
                <div class="route-number">70</div>
                <div class="route-name">Route №70</div>
            </div>
        </a>
    </div>
</div>

<%- include("includes/footer.ejs") %>

</body>
</html>
