@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #40c0ff;
  --main-bg: #efefef;
}
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px
}

.button:hover {
  opacity: 0.8
}

.cart_section {
  width: 100%;
  padding-top: 33px;
  padding-bottom: 111px
}

.cart_title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.cart_d {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center;
}

.cart_items {
  margin-top: 8px
}

.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.cart_item {
  width: 100%;
  padding: 15px 46px 15px 15px;
}

.cart_item_image {
  width: 220px;
  float: left
}

.cart_item_image img {
  max-width: 100%
}

.cart_item_info {
  width: calc(100% - 220px);
  float: left;
  padding-top: 18px;
  text-align: center;
}

.cart_item_name {
  margin-left: 7.53%
}

.cart_item_title {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.cart_item_text {
  font-size: 15px;
  margin-top: 35px
}

.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px)
}

.cart_item_price {
  text-align: right
}

.cart_item_total {
  text-align: right
}

#quantity{
  width: 80px;
}

.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff
}

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px
}

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px
}

.cart_buttons {
  margin-top: 60px;
  text-align: right
}
.button {
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: none;
  padding: 6px 15px;
  border-radius: 50px;
}

.button:hover {
  background-color: black;
}

.button.active {
  background-color: black;
}