@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #40c0ff;
    --main-bg: #efefef;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.contact-us-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.contact-us-section h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.contact-us-section > p {
    text-align: center;
    margin-bottom: 2rem;
}
.contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
}
.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.input-fields > input {
    margin-bottom: 1rem;
    outline: 0;
    padding: 8px 10px;
    width: 20rem;
    border-radius: 24px;
    border-color: var(--main-color);
}
.message{
    height: 100px;
}
.contact-us-section > button {
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    padding: 7px 18px;
    margin: 1rem;
    border-radius: 50px;
}

@media (max-width: 515px) {
    .contact-us-section > p{
        font-size: 12px;
    }
}
