@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.footer-section {
    background-color: #fff;
    color: #222;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
}

.footer-text {
    font-weight: 800;
    font-size: 32px !important;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
}

.menu-items > a {
    text-decoration: none;
    color: #222;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.menu-items > p {
    margin-bottom: 0.3rem;
}

.menu > h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0.8rem;
}

.logout {
    display: block;
    padding-top: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #222 !important;
    border: none;
    background-color: #fff;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.logout:hover {
    transform: scale(1.1); /* Grow the text size on hover */
    background-color: #3cdaeb; /* Dark green background on hover */
    color: #222 !important; /* White text on hover */
    padding: 10px 15px; /* Add padding for the rectangle effect */
    border-radius: 5px; /* Optional: rounded corners for the rectangle */
}

@media (max-width: 795px) {
    .footer-text {
        font-size: 25px !important;
    }
}

@media (max-width: 515px) {
    .menu-items > a,
    .menu > h2,
    .menu-items > p {
        font-size: 12px !important;
    }

    .footer-text {
        font-size: 20px !important;
    }
}
