@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #40c0ff;
  --main-bg: #efefef;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg);
}

.sign-in-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.sign-in-section h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.sign-in-section > p {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.input-fields > input {
  margin-bottom: 0.5rem;
  outline: 0;
  padding: 8px 10px;
  width: 20rem;
  border-radius: 24px;
  border-color: var(--main-color);
}
.sign-in-section .btn {
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: none;
  padding: 7px 18px;
  margin-top: 1rem;
  border-radius: 50px;
  font-size: 14px;
}

.btn-con{
  text-align: center;
}

.back{
  height: 400px;
  width: 500px;
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
