@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-color: #009970;
    --main-bg: #e3f8ef;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 70px; 
    background-color: var(--main-bg);

}

ul {
    padding: 3px 3px 0 3px;
}

.btn-primary {
    background-color: #009970;
}

.map-section {
    background-color: var(--main-bg);
    text-align: center;
    padding: 3rem 0;
}

.map-section h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.map-section p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5rem;
}

.toast-header, .toast-body {
    background-color:  #e3f8ef;
}

#map-container {
    height: 500px; /* Adjust as needed for your map's size */
    width: 80%; /* Adjust as needed for your layout */
    margin: auto; /* Centers the map */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow for depth */
    border-radius: 8px; /* Optional: Rounds the corners */
}

.about-us-section {
    display: flex;
    background-color: #EAECEE;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    padding-bottom: 1rem;
}

.about-us-section h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5rem;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
}

.service {
    height: 8rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.11);
    transition: all 0.25s ease;
    border-radius: 5%;
    margin: 1rem 1rem 3rem;
    background-color: #EAECEE;
}

.service > i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--main-color);
}

.service > h4 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.service:hover {
    background-color: var(--main-color);
    color: white;
}

.service:hover > i {
    color: white;
}

.shop-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shop-section > h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}

.shop-section > p {
    text-align: center;
}

.shop-section > img {
    width: 500px;
    padding-bottom: 50px;
}

.brands-container > img {
    width: 150px;
    filter: grayscale(100%);
    opacity: 0.5;
}

.our-brands-section {
    background-color: #EAECEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;
}

.our-brands-section h2 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 12px;
}

.brands-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 795px) {
    .brands-container > img {
        width: 100px;
        margin: 1rem;
    }
}

@media (max-width: 515px) {
    .about-us-section > p,
    .our-brands-section > p,
    .shop-section > p {
        font-size: 12px;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 70px 0 0 0;
    overflow: hidden;
}
.main-container {
    padding: 0 100px; /* Left and right padding */
    box-sizing: border-box;
    height: calc(100vh - 150px); /* Adjust according to navbar and footer height */
    display: flex;
    gap: 20px; /* Space between map and route-info */
}
#map-container, #route-info {
    height: calc(100% - 60px); /* Reduced height to fit carousel indicators */
    overflow: hidden;
}
#map-container {
    width: 70%; /* 70% width */
}
#route-info {
    width: 30%; /* 30% width */
    background: white;
    margin: 30px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}
.carousel-control-prev,
.carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: #009970;
    border-radius: 50%;
    border: none;
    color: #fff;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px;
    height: 20px;
}
.carousel-indicators {
    position: static;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.carousel-indicators button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: #009970;
    border: none;
    color: white;
}
.carousel-indicators .active {
    background-color: #009970;
}
.carousel-indicators [data-bs-target] {
    background-color:  #009970;
}
