body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px; 
}

.routes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.route-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding for larger size */
    text-align: center;
    margin: 20px; /* Increased margin for better spacing */
    transition: transform 0.3s ease;
    width: 100%; /* Ensure the card takes the full width of the column */
}

.route-card:hover {
    transform: translateY(-5px);
}

.route-number {
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

.route-name {
    font-size: 20px; /* Increased font size */
    color: #333;
    text-decoration: none; /* Ensure no underline */
}

.route-card a {
    text-decoration: none; /* Ensure no underline */
    color: inherit; /* Ensure link color is inherited */
}

.route-card a:hover {
    text-decoration: none; /* Ensure no underline on hover */
    color: inherit; /* Ensure link color is inherited on hover */
}
