body {
    font-family: 'Poppins', sans-serif;
    padding-top: 64px !important;
    background-color: #EAECEE;
}

.routes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin-top: 50px;
}

.route-card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Increased padding for larger size */
    text-align: center;
    margin: 20px; /* Increased margin for better spacing */
    transition: transform 0.3s ease;
    text-decoration: none; /* Ensure no underline */
    color: inherit; /* Ensure link color is inherited */
}

.route-card:hover {
    transform: translateY(-5px);
    text-decoration: none; /* Ensure no underline on hover */
}

.route-number {
    font-size: 36px; /* Increased font size */
    font-weight: bold;
    color: #009970;
    margin-bottom: 20px; /* Increased margin for better spacing */
}

.route-name {
    font-size: 20px; /* Increased font size */
    color: #333;
    text-decoration: none; /* Ensure no underline */
}
