@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #40c0ff;
    --main-bg: #efefef;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.hero-img-container > img {
    padding: 2rem;
    width: 600px;
}
.hero-section {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.hero-text-container{
    padding-left: 100px;
}
.hero-text-container p{
    max-width: 600px;
}
.hero-text-container > h3 {
    color: var(--main-color);
    margin-bottom: 1rem;
    margin-left: 20px;
    padding-top: 24px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.featured-product-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.featured-product-section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.shop-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #efefef;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.shop-section > h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
.shop-section > p {
    text-align: center;
    margin-bottom: 2rem;
}

.shop-products-container{
    margin: 20px auto;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
}

.product-img img {
    border-radius: 7px 0 0 7px;
    height: 325px;
    width: 330px;
}

.product-info {
    float: left;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
    height: 345px;
}

.product-text h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 28px;
    color: #474747;
    font-family: 'Poppins', sans-serif;
}

.product-text h2 {
    margin: 0 0 30px 38px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    line-height: 1.7em;
    font-size: 15px;
    overflow: hidden;
}

.product-price-btn {
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.product-price-btn p {
    display: inline-block;
    text-align: center;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

.product-price-btn a {
    float: right;
    display: inline-block;
    height: 40px;
    width: 160px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: var(--main-color);
    cursor: pointer;
    outline: none;
}



.product-price-btn a:hover {
    background-color: #000000;
}

.featured-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.img-responsive{
    height: 250px;
    width: 320px;
}

.button {
    background-color: var(--main-color);
    color: white;
    outline: none;
    border: none;
    padding: 7px 18px;
    border-radius: 50px;
}

.button:hover {
    background-color: black;
}


@media (max-width: 795px) {
    .hero-text-container {
        text-align: center;
        margin-top: 1rem;
        padding-left: 0px;
    }
    .featured-product {
        margin: 1rem;
    }
}
@media (max-width: 515px) {
    .hero-text-container > p,
    .featured-product-section > p,
    .shop-section > p,
    .product-text h2,
    .product-text p,
    .product-price-btn p,
    .product-price-btn a{
        font-size: 12px;
    }
    .product-text h1{
        font-size: 25px;
    }
}
